.annotator-erratum {
  background: #eee;
  color: #333;
}

.annotator-erratum.missing {
  background: #eee;
  color: #333;
}

.annotator-erratum.missing .erratum-comment::before {
    content: " ";
    display: inline;
}
