/* CSS */
.eea-annotator {
}

#content .eea-annotator .annotator-button,
.eea-annotator .annotator-button {
  float: right;
  background: transparent url('++resource++eea.annotator.images/icon.png') no-repeat center center;
  width: 16px;
  height: 32px;
  border: none;
}

#content .eea-annotator .annotator-button span,
.eea-annotator .annotator-button span {
  display: none;
}

.eea-annotator .annotator-disabled {
  opacity: 0.45;
}

/* Portlet */
dl.portlet dd.eea-annotator-portlet {
    padding: 0;
    margin: 0;
}

.eea-annotator-comment {
    background-color: #DFD;
    padding: 0.5em;
    margin: 0.5em 0;
    cursor: default;
    color: #999;
}

.eea-annotator-comment.missing {
    background-color: #FDD;
}

